 <main>
        <h1><%= docTitle %></h1>
        

        <%if( prods!== undefined &&  prods.length >0){ %>
            <div class="grid">
            <% for (let product of prods){ %>
                    <%- include("./product.ejs",{product:product,mode:mode}) %>
            <% } %>
        </div>
       

    <% } else{ %>
        <h1>No more products</h1>
    <% } %>
    </main>